.ChatMain
  .MeinHeader
    .MeinHeader__group
      .MeinHeader__groupName test1
      .MeinHeader__groupMember Member : 佐藤愛里
    = link_to "#", class: "MeinHeader__editBtn" do
      Edit

  .MessageList
  .MessageForm
