.ChatMain
  .MeinHeader
    .MeinHeader__group
      .MeinHeader__groupName
        = @group.name
      %ul.MeinHeader__groupMember
        Member :
        - @group.users.each do |user|
          %li.MeinHeader__groupMember__member
            =user.name

    = link_to "Edit",edit_group_path(@group.id),class:"MeinHeader__editBtn"

  .MessageList
    = render @messages

  .MessageForm
    %form.new_message
      .InputBox
        %input{type: "text", class: "InputBox__text", placeholder: "type a message"}
        %label{class: "InputBox__image"}
          =icon('fas', 'image')
          %input{type: "file", class: "InputBox__image__file"}
      %input{type: "submit", name: "commit", class: "SubmitBtn", value: "Send"} 