.ChatMain
  .MeinHeader
    .MeinHeader__group
      .MeinHeader__groupName test1
      .MeinHeader__groupMember Member : 佐藤愛里
    = link_to "#", class: "MeinHeader__editBtn" do
      Edit

  .MessageList
    = render @messages

  .MessageForm
    %form.new_message
      .InputBox
        %input{type: "text", class: "InputBox__text", placeholder: "type a message"}
        %label{class: "InputBox__image"}
          =icon('fas', 'image')
          %input{type: "file", class: "InputBox__image__file"}
      %input{type: "submit", name: "commit", class: "SubmitBtn", value: "Send"} 