.MessageBox{data: {message: {id: message.id}}}
  .MessageBox__MessageInfo
    .MessageBox__MessageInfo__userName
      = message.user.name
    .MessageBox__MessageInfo__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .MessageBox__Message
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?