.SideBar
  .SideHeader
    .SideHeader__lists
      %p.SideHeader__lists__userName 佐藤愛里
      %ul.SideHeader__lists__icons
        %li.SideHeader__lists__newGroup
          =link_to "#" do
            =icon('fas', 'edit')
        %li.SideHeader__lists__editUseer
          =link_to "#" do
            =icon('fas', 'cog')

  .GroupList
